<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  @*  <link rel="stylesheet" href="~/Content/myStyle.css">*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    #footer {
        background-color: #666;
        border: 1px solid #cccccc;
        padding: 20px 0 20px;
        color: #eeeeee;
        text-align: center;
        margin:0;
    }
    .center {
    margin-top:50px;
    width:100%;
    }
</style>
</head>
<body>
    <!--导航条-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--<a class="navbar-brand" href="#">我是一个头部</a>-->
                <button class="navbar-toggle" data-toggle="collapse" data-target="#test">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="test">
                <!-- 导航左边-->
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">登陆 &nbsp; 注册</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="line-height:18px;">
                            &nbsp;消息
                            <span class="badge">2</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">&nbsp;未读消息</li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;您有一个订单未确认</a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;您有一笔退款</a></li>
                            <li class="divider"><a href="#">2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">手机逛商城</a></li>
                </ul>
                <!--导航右边-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">商城首页</a></li>
                    <li><a href="#">我的商城</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="line-height:18px;">
                            <span class="glyphicon glyphicon-shopping-cart"></span> &nbsp;购物车
                            <span class="badge">2</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">&nbsp;已加入购物车</li>
                            <li><a href="#">苹果 1 ￥69</a></li>
                            <li><a href="#">牙刷 1 ￥69</a></li>
                            <li class="divider"><a href="#">2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="line-height:18px;">
                            <span class="glyphicon glyphicon-star"></span> &nbsp;收藏夹
                            <span class="badge">3</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">&nbsp;收藏的商品</li>
                            <li><a href="#">苹果 1 ￥69</a></li>
                            <li><a href="#">牙刷 1 ￥69</a></li>
                            <li><a href="#">橘子 1 ￥69</a></li>
                            <li class="divider"><a href="#">2</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;联系客服</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="center">
        @RenderBody()
    </div>
    <div class="container-fluid body-content">
        <footer id="footer">
            <div class="container-fluid">
                <p>企业培训|合作事宜</p>
                <p>备案ICP 备案12983124-109</p>
            </div>
        </footer>
    </div>

</body>
</html>
