.login_border {
    border: 2px solid #cccccc;
    width: 360px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 35px 35px 10px 35px;
}

.login_input {
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    padding: 15px;
    margin: 0 0 25px;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
}

.login_message {
    text-align: center;
    margin: 15px 0 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

    .login_message a {
        text-decoration: none;
    }

.login_title {
    margin: 0 0 25px;
}

.login_message2 {
    text-align: right;
    margin: 0 0 25px;
    color: #b3b3b3;
    font-size: 12px;
}

    .login_message2 a {
        text-decoration: none;
        font-size: 14px;
    }

.login_input2 {
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
}

#create, #login_btn {
    font-family: "Roboto", sans-serif;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
}

.login_fail {
    font-size: 16px;
    color: red;
    text-align: center;
    display: none;
    margin: 0 30px 0;
}
.login_all{
    height:800px;
    /*padding:100px 90px 100px 50px;*/
}
.login_md8 {
    width:826px;
    height:460px;
    padding: 70px 0px 100px 50px
}
.login_md4 {
    padding: 100px 90px 100px 50px
}
.login_leftborder{
    padding:0 0 0 20px;
    border-left:2px solid rgba(0, 0, 0, 0.24);
}
#myCarousel {

    padding-top:-50px;
}
/*摇晃动画效果*/
.shake_effect {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
